.loginback {
  background: linear-gradient(rgba(2, 4, 27, 0.418), rgba(2, 4, 14, 0.425)), url("../public/background.jpg");
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
